.header-m {
  gap: 3rem;
  margin: 3rem auto 5rem auto;
  width: 90%;
  max-width: 75rem;
  color: var(--text-primary);
  font-size: 1.5rem;
  transition: color 0.3s ease;

  h1 {
    font-family: "Montserrat", sans-serif;
  }

  p {
    margin: 0;
  }
}

@media (max-width: 768px) {
  .header-m {
    gap: 1.5rem;
    margin: 1.5rem auto 2.5rem auto;
    font-size: 1.2rem;
  }
}

@media (max-width: 480px) {
  .header-m {
    gap: 1rem;
    margin: 1rem auto 2rem auto;
    font-size: 1rem;
  }
}

.highlight-m {
  background: linear-gradient(90deg, var(--accent-primary), var(--accent-fourth));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.cta a {
  display: inline-block;
  margin-top: 1rem;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  background: linear-gradient(90deg, var(--accent-primary), var(--accent-secondary));
  color: var(--text-light);
  font-weight: bold;
  text-decoration: none;
  transition: all 0.3s ease;
}

.loading {
  text-align: center;
  animation: loading 1.2s ease-in-out infinite;
}

@keyframes loading {
  0% {
    color: var(--accent-lighter-gray);
  }
  50% {
    color: var(--accent-mauve);
  }
  100% {
    color: var(--accent-lighter-gray);
  }
}
